.md-header__button.md-logo {
    margin-top: 20;
    margin-bottom: 0;
    padding-top: 20;
    padding-bottom: 0;
  }
  
  .md-header__button.md-logo img,
  .md-header__button.md-logo svg {
    height: 45%;
    width: 45%;
  }